.error {
    color: red;
    font-size: 0.875rem;
    font-weight: 600;
    margin-top: 0.25rem;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#sidebar {
    width: 90px;
    min-width: 90px;
    background-color: #14190b;
    color: white;
    display: flex;
    flex-direction: column;
    transition: all 0.25s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
    position: relative;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.toggle-btn {
    width: 30px;
    height: 30px;
    background: #323c55;
    color: #FFF;
    border-radius: 0.425rem;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
    animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

.sidebar-nav {
    padding: 0.7rem 0;
    flex: 1;
    z-index: 10;
}

a.sidebar-link {
    padding: 1.375rem 1.625rem;
    color: #FFF;
    display: block;
    white-space: nowrap;
    font-weight: 700;
    border-left: 3px solid transparent;
}

.sidebar-link i,
.dropdown-item a {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

.sidebar-dropdown .sidebar-link {
    padding-left: 3rem;
    transition: all 0.5s;
}

.sidebar-footer {
    margin-top: auto;
    padding: 1rem;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
    position: relative;
}

.navbar {
    background-color: #FFF;
    box-shadow: 0 4px 6px -2px rgba(33, 37, 41, 1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.main-content-scrollable {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: #f8f9fa;
    position: relative;
    z-index: 0;
}

.admin-footer {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 -4px 6px -2px rgba(33, 37, 41, 1);
    text-align: center;
    position: sticky;
    bottom: 0;
    z-index: 1000;
}

.avatar {
    height: 40px;
    width: 40px;
}

#sidebar::-webkit-scrollbar,
.main-content-scrollable::-webkit-scrollbar {
    width: 3px;
}

#sidebar::-webkit-scrollbar-thumb,
.main-content-scrollable::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 3px;
}